* {
    box-sizing: border-box;
  }
  
/* Style the header */
 .header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding: 8px;
    text-align: left;
    font-size: 22px;
    width: 970px;
    margin: auto;
    border-color: #cccccc;
    border-width: 1px;
  }
  
  .navbar-brand {
    background-color: #4aaaa5;
    color           : white;
    font-family     : "Georgia", "Times", "Times New Roman", serif;
    font-size       : 1.5em;
    font-weight     : bold;
    letter-spacing  : 0.02em;
    padding         : 20px 20px 25px 20px !important;
  }

  .navbar-right {
    color           :#4aaaa5;
    font-family     : "Georgia", "Times", "Times New Roman", serif;
    font-size       : 1.1em;
    font-weight     : bold;
    letter-spacing  : 0.01em;
    padding         : 20px 20px 20px 20px !important;
    position        : relative;
  }

  .space {
    padding         : 2px;
    width           : 260px;
  }


  body {
    font-family   : Arial, Helvetica, sans-serif
    color         : #777;
    font-size     : 18px;
    line-height   : 150%;
    margin        : auto;
    padding       : 20px;
    background-image: url('assets/images/bush.png');
  }


  /* unvisited link */
  a:link {
    color: #4aaaa5;
  }
  
  /* visited link */
  a:visited {
    color: #808080;
  }
  
  /* mouse over link */
  a:hover {
    color: #1E90FF;
  }
  
  /* selected link */
  a:active {
    color: #191970;
  }


  .container {
    display: grid;
    width: 960px;
    text-align: left;
    
}

/* Style inputs */
input[type=text], select, textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}

input[type=submit] {
background-color: #4aaaa5;
color: white;
padding: 12px 20px;
border: none;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #45a049;
}

.thumbnail {
position: relative;
}

.caption {
background-color: #4aaaa5;
color: white;
font-weight: bold;
position: absolute;
top: 73%;
left: 20%;
width: 83%;
opacity: 0.8;
}




/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    margin: auto;
  }
  
  /* Style the footer */
  .footer {
    background-color    : #666666;
    color               : white;
    padding             : 10px;
    text-align          : center;
    font-size           : 14px;
    width               : 100%;
    margin              : auto;
    position            : fixed;
    bottom              : 0;
    left                : 0;
    border-top          : 8px solid #4aaaa5;
    vertical-align      : bottom;
  }
    


/* Tablets */
@media screen and (max-width: 768px) {

    .header, .navbar {
        position        : relative;
        padding         : 8px;
        width           : 580px;
        margin          : 0;
        border-color    : #cccccc;
        border-width    : 1px;
        overflow        : hidden;
      }

      .navbar-brand {
       padding          : 5px 5px 5px 5px !important;
      }

    .navbar-toggler, .navbar-toggler-icon {
        float           : left;
        width           : 10px;
        position        : relative;
        left            : 10px;
        overflow        : hidden;
        display         : block;
        text-align      : left;
      }

    .space {
        padding         : 0px;
        width           : 20px;
      }
    
      .collapse {
        font-size       : medium;
        font-weight     : bold;
        letter-spacing  : 0.01em;
        padding         : 0px 0px 0px 0px !important;
        position        : fixed;
        float           : left;
      }

  }
  
/* Mobile Phones */
@media screen and (max-width: 420px) {

    .header, .navbar {
        padding: 8px;
        width: 500px;
        margin: 0;
        border-color: #cccccc;
        border-width: 1px;
      }

      .navbar-brand {
       padding         : 5px 5px 5px 5px !important;
      }

    .navbar-toggler, .navbar-toggler-icon {
        float           : left;
        width           : 10px;
        position        : relative;
        left            : 10px;
      }

    .space {
        padding         : 0px;
        width           : 20px;
      }
    
      .collapse {
        font-size       : medium;
        font-weight     : bold;
        letter-spacing  : 0.01em;
        padding         : 0px 0px 0px 0px !important;
        position        : fixed;
        float           : left;
      }

  }
  



