
/* NAVBAR CSS */
.navbar-brand {
  background-color: #17a2b8;;
  color           : white;
  font-family     : 'Baloo Bhaina 2', cursive;
  font-size       : 200%;
  float           : left;
  vertical-align  : top;
}

li {
  font-family     : 'Baloo Bhaina 2', cursive;
  font-size       : 120%;
  font-weight     : bold;
  letter-spacing  : .2em;
  color           : #17a2b8;
  line-height     : 30px !important;
}

/* BODY CSS */
body {
  font-family   : Arial, Helvetica, sans-serif
  color         : #777;
  font-size     : ;
  line-height   : 120%;
  margin        : auto;
  padding       : 20px;
  background-image: url('../images/bush.png');
}

h4 {
  color         :#17a2b8;
  font-family   : 'Baloo Bhaina 2', cursive;
  font-size     : 180%;
}

/* LINK CSS */
/* unvisited link */
a:link { color: #17a2b8;
}

/* visited link */
a:visited { color: #808080;
}

/* mouse over link */
a:hover { color: #0099CC;
  transition: .4s ease-in-out color;
}

/* selected link */
a:active { color: #191970;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin: auto;
}

/* Style the footer */
 .footer {
  background-color    : #666666;
  color               : white;
  padding             : 10px;
  text-align          : center;
  font-size           : 14px;
  width               : 100%;
  margin              : auto;
  position            : fixed;
  bottom              : 0;
  left                : 0;
  border-top          : 8px solid #4aaaa5;
  vertical-align      : bottom;
}
  
/* CONTACT CSS */
/* Style inputs */
input[type=text], select, textarea {
  width               : 100%;
  padding             : 12px;
  border              : 1px solid #ccc;
  margin-top          : 6px;
  margin-bottom       : 16px;
  resize              : vertical;
  }
  
  input[type=submit] {
  background-color    : #17a2b8;
  color               : white;
  padding             : 12px 20px;
  border              : none;
  cursor              : pointer;
  }
  
  input[type=submit]:hover {
  background-color    : #191970;
  }
  
/* PORTFOLIO CSS */
    .caption {
    background-color: #17a2b8;
    color: white;
    font-weight: bold;
    position: relative;
    top: 90%;
    left: 10%;
    width: 100%;
    opacity: 0.8;
    }

    .responsive img{
      width: 200px;
      height: 200px;
    }


    @media (max-width: 980px) {
      .responsive img{
        width: 140px;
        height: 140px;
      }

      .caption {
        position: absolute;
        top: 65%;
        left: 9%;
        width: 86%;
        opacity: 0.8;
        }

    }


@media (max-width: 768px) {
  .navbar-brand.abs
      {
          position: absolute;
          width: 100%;
          left: 0;
          text-align: center;
      }

      .caption {
        position: absolute;
        top: 60%;
        left: 12%;
        width: 81%;
        opacity: 0.8;
        }

        }
        img {
          width: 100%;
          height: auto;
        }

  }

 @media (max-width: 400px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
        }
  
        .caption {
          position: absolute;
          top: 73%;
          left: 20%;
          width: 60%;
          opacity: 0.8;
          transform: translateY(-70%);
          }
          
    } */