* {
    box-sizing: border-box;
  }
 
   /* Style the header */
   .header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding: 8px;
    text-align: left;
    font-size: 22px;
    width: 980px;
    margin: auto;
    border-color: #cccccc;
    border-width: 1px;
  }
  


.navbar-brand {
  background-color: #4aaaa5;
  color           : white;
  font-family     : "Georgia", "Times", "Times New Roman", serif;
  font-size       : 1.9em;
  font-weight     : bold;
  letter-spacing  : 0.02em;
  padding         : 30px 40px 40px 30px !important;
}

.navbar-nav, .navbar-right {
  font-size       : 1.2em;
  position        : relative;
  left            : 240px;
  color           :#4aaaa5;
}

  body {
    font-family   : Arial, Helvetica, sans-serif
    color         : #777;
    font-size     : 18px;
    line-height   : 150%;
    margin        : auto;
    padding       : 20px;
    background-image: url('assets/images/double-bubble-outline.png');
  }
  
 
  .container {
      display: grid;
      width: 960px;
      text-align: left;
      
  }
 
  /* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4aaaa5;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.thumbnail {
  position: relative;
}

.caption {
  background-color: #4aaaa5;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 73%;
  left: 20%;
  width: 83%;
  opacity: 0.8;
}

  
  /* unvisited link */
  a:link {
    color: teal;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: orange;
  }
  
  /* selected link */
  a:active {
    color: teal;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    margin: auto;
  }
  
  /* Style the footer */
  .footer {
    background-color: #666666;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    width: 100%;
    margin: auto;
    position: fixed;
    bottom: 0;
    border-top: 8px solid #4aaaa5;
    vertical-align: bottom;
  }
    